/* common css */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato','Nanum Gothic',dotum,'돋움',arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
    box-sizing: border-box;
}

ul, ol {list-style: none;}
a {text-decoration: none; color: #000000;}
input, textarea {outline: none;}


/* wrapper */
.wrapper{
    width: 100%;
}

/* 헤더 */
header{
    background-color: #0A2647;
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 8px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header img {
    width:40px;
}

header p{
    font-size: 30px;
    font-weight: 300;
    color:white;
}

/* 메인 */
main{
    background-color: #e9e9e9;
    width: 100%;
    height: calc( 100vh - 95px);
    margin-top:60px;
    margin-bottom:35px;
    padding-top:80px;
}

/* 푸터 */
footer{
    background-color:lightblue;
    width: 100%;
    height: 35px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    line-height: 35px;
    font-size: 13px;
}

.searchField{
    display: flex;
    justify-content: center;
    gap:5px;
}


.text{
    width: 315px;
    height:35px;
    border-radius: 5px;
    padding-left: 5px;

}


.searchBtn{
    width: 55px;
    height: 35px;
    background-color: lightgray;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
}


.searchInfo{
    display:flex;
    gap:5px;
    margin-top:35px;
    padding: 0 50px;
}

.infoMap{
    background-color: white;
    width:100%;
    height:600px;
    border:1px solid black;
}


.infoWeather{
    background-color:white;
    width:100%;
    height:600px;
    border:1px solid black;
}


.errorInfo{
    text-align: center;
    margin-top: 10px;
    color: red;
    font-size: 15px;
}

.infoWeather{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}


.support{
    margin-bottom: 95px;

}


.tempArea{
    display: flex;
    align-items: center;
}

.img{
    width:80px;
    height:80px;
}

.temp{
    font-size: 80px;
    font-weight: 600;

}

.tmepCircle{
    height:80px;
    font-size: 55px;
    font-weight: 600;

}

.skyContent{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sky{
    font-size: 20px;
    color: #767676;
    margin-right: 15px;

}


.preci{
    font-size: 20px;
    font-weight: 600;

}


.preciInfo{
    font-size: 20px;
    color: #767676;
    margin-left: 5px;
    font-weight: 600;


}

.moreInfo{
    display: flex;
    align-items: center;
    margin-top:10px;
    gap:5px;
}

.windPo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100px;
    height:80px;
    background-color:lightblue;
    border-radius: 5px;
    font-weight: 600;
}

.forWind{
    display:flex;
}



.windPower{
    font-size: 14px;
    font-weight: 600;

}

.windPowerInfo{
    font-size: 14px;
    color: blue;
    margin-top: 3px;
    font-weight: 600;

}



.windPa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100px;
    height:80px;
    background-color:lightgreen;
    border-radius: 5px;


}



.windPath{
    font-size: 14px;
    font-weight: 600;

}

.windPathInfo{
    font-size: 14px;
    color: green;
    margin-top: 3px;
    font-weight: 600;

}


.humid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100px;
    height:80px;
    background-color:lightyellow;
    border-radius: 5px;
}

.forHumid{
    display:flex;
}

.humidity{
    font-size: 14px;
    font-weight: 600;

}

.humidityInfo{
    font-size: 14px;
    color: orange;
    margin-top: 3px;
    font-weight: 600;

}


.ty{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100px;
    height:80px;
    background-color:lightpink;
    border-radius: 5px;
}

.type{
    font-size: 14px;
    font-weight: 600;

}



.typeInfo{
    font-size: 14px;
    color: darkred;
    margin-top: 3px;
    font-weight: 600;

}