<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>검색화면</title>
    <link rel="stylesheet" th:href="@{/css/view.css}">
    <script src="/js/view.js" defer></script>
    <!--kakao map API-->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=6930e6749c4d2b14b345b70a787e3c36&libraries=services"></script>
</head>
<body>
<div class="wrapper">
    <header><img src="/img/weather.png"><p>지역 날씨 예보 검색</p></header>
    <main>
        <div class="searchField">
            <div class="searchBar">
                <input type="text" class="text" id="searchTextView" placeholder="지역을 검색 후 검색을 눌러주세요">
            </div>
            <div class="searchBtn" id="searchBtn">
                검색
            </div>
        </div>
        <div class="errorInfo">행정구역(시-도/시-군-구/읍-면-동)으로 입력해주세요</div>
        <div class="searchInfo">
            <div class="infoMap">
                <div id="map" style="width:100%;height:100%;"></div>
            </div>
            <div class="infoWeather">
              <div class="support"><img src="/img/forecast.png"></div>
                <div class="tempArea">
                    <img src="/img/sunny.png" class="img" id="sunimg" style="display : none;">
                    <img src="/img/cloud.png" class="img" id="cloudimg" style="display : none;">
                    <img src="/img/cloudy.png" class="img" id="cloudyimg" style="display : none;">
                    <img src="/img/rain.png" class="img" id="rainimg" style="display : none;">
                    <img src="/img/snow.png" class="img" id="snowimg" style="display : none;">
                  <div class="temp" id="temp"></div>
                  <div class="tmepCircle">°</div>
                </div>
                <div class="skyContent">
                  <div class="sky" id="sky"></div>
                  <div class="preci">강수량</div>
                  <div class="preciInfo" id="preciInfo"></div>
                </div>
                <div class="moreInfo">
                   <div class="windPo">
                        <div class="windPower">풍속</div>
                       <div class="forWind">
                        <div class="windPowerInfo" id="windPowerInfo"></div>
                        <div class="windPowerInfo">m/s</div>
                       </div>
                   </div>
                   <div class="windPa">
                     <div class="windPath">풍향</div>
                     <div class="windPathInfo" id="windPathInfo"></div>
                   </div>
                   <div class="humid">
                        <div class="humidity">습도</div>
                      <div class="forHumid">
                        <div class="humidityInfo" id="humidityInfo"></div>
                        <div class="humidityInfo">%</div>
                      </div>
                   </div>
                   <div class="ty">
                        <div class="type">강수형태</div>
                        <div class="typeInfo" id="typeInfo"></div>
                   </div>
                </div>
            </div>
        </div>
    </main>
    <footer>Copyright© Jay All Rights RESERVED.</footer>
</div>
</body>
</html>